---
layout: default
---

<div class="home">

  <section class="index-posts">
    <h1>Blog</h1>

    <ul class="posts">
      {% for post in site.posts limit:8 %}
        <li>
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          »
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
    
    {% if site.posts.size > 8 %}
      <a href="/archive/" class="more">More..</a>
    {% endif %}
  </section>
  
  <section class="index-projects">
    <h1>Project</h1>

    <ul class="projects">
      <li>
        <a href="#">
          <figure>
            <img src="/images/chazd.png" alt="ChaZD" width="240" height="150">
            <figcaption>ChaZD - Chrome划词插件</figcaption>
          </figure>  
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <img src="/images/shell13q.png" alt="Shell 十三问" width="240" height="150">
            <figcaption>Shell 十三问 - 重制版</figcaption>
          </figure>          
        </a>

      </li>
    </ul>
  </section>
  

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
